* {
    margin: 0;
    padding: 0;
    /* background-image: url("back.png"); */
    /* background-position: center;
    background-repeat: no-repeat; */
}

div #main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div #content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

    /* max-width: 70rem; */
}

div #header {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
div #header2 {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

}

div #greenbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
